{% extends 'base.html' %}

{% block title %}
Gestão de Bolsas, Universidades e Laboratórios
{% endblock %}

{% block content %}
<div class="dados caixa-home">
    <h1>Scholarship, Universities and Laboratories Management</h1>
    <br><br>
    <a href="/analise" class="button1" style="background-color: #76c8df; color: white; text-decoration: none; padding: 15px 30px; font-size: 1.2rem; border-radius: 8px; box-shadow: 0 4px 15px rgba(0,0,0,0.2);">
        📊 View Charts and Statistics
    </a>
</div>
{% endblock %}