{% extends 'base.html' %}

{% block title %}Lab{% endblock %}

{% block content %}
    <div class="dados">
        <img src="{{ url_for('static', filename='images/Lab.jpg') }}" alt="Lab" width="200" height="200">
        <h1>Lab</h1>
        <br>

        <button id="edit" type="button" {{ butshow }} onclick="window.location.href = '{{ request.path }}?option=edit'" class="button1">Edit</button>
        <button id="delete" type="button" {{ butshow }} onclick="window.location.href = '{{ request.path }}?option=delete'" class="button1">Delete</button>
        <button id="insert" type="button" {{ butshow }} onclick="window.location.href = '{{ request.path }}?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" {{ butedit }} class="button1">Save</button>
        <button id="cancel" type="button" {{ butedit }} onclick="window.location.href = '{{ request.path }}?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{ butshow }} onclick="window.location.href = '/'" class="button1">Exit</button>

        <br><br>

        <form id="form" action="{{ request.path }}?option=save" method="post">
            <label for="id">Id:</label>
            <input type="text" readonly id="id" name="id" value="{{ id }}" size="5">
            <br><br>

            <label for="extra_info">Extra Info:</label>
            <input type="text" {{ butedit }} id="extra_info" name="extra_info" value="{{ extra_info }}" size="40">
            <br><br>
            <label for="university_id">University Id:</label>
            <input type="text" {{ butedit }} id="university_id" name="university_id" value="{{ university_id }}" size="10">
            <br><br>
        </form>

        <br>

        <button id="first" type="button" {{ butshow }} onclick="window.location.href = '{{ request.path }}?option=first'" class="button1">First</button>
        <button id="previous" type="button" {{ butshow }} onclick="window.location.href = '{{ request.path }}?option=previous'" class="button1">Previous</button>
        <button id="next" type="button" {{ butshow }} onclick="window.location.href = '{{ request.path }}?option=next'" class="button1">Next</button>
        <button id="last" type="button" {{ butshow }} onclick="window.location.href = '{{ request.path }}?option=last'" class="button1">Last</button>

        <br>
        <p class="msg">{{ msg }}</p>
    </div>
{% endblock %}
