{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="dados">
    <h1>Login</h1>

    <form action="/chklogin" method="post">
        <label for="user">User:</label>
        <input type="text" id="user" name="user" value="{{ user }}" size="30">
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" size="30">
        <br><br>

        <button type="submit" class="button1">Login</button>
    </form>

    <br>

    <p style="color: red;">{{ resul }}</p>
</div>

{% endblock %}
